<h3>###LABEL_RESPONDENTS### ###RESPONDENTS###</h3>
<!--###QUESTION_LIST### begin-->
<table>
	<thead>
		<tr>
			<td colspan="4">
				<h4>###QUESTION###</h4>
			</td>
		</tr>
	</thead>
	<tbody>
		<!--###ANSWERS### begin-->
		<tr>

			<td>
				###ANSWER###
			</td>
			<td>
				###AMOUNT###
			</td>
			<td>
				###PERCENTAGE###
			</td>
			<td>
				<div class="barcontainer"><div class="bar" style="width: ###PERCENTAGE###"></div></div>
			</td>
		</tr>
		<!--###ANSWERS### end-->
	</tbody>
</table>
<!--###QUESTION_LIST### end-->

<!--###LIST_EMPTY### begin-->
<p class="error">###LABEL_NO_RESULTS###</p>
<!--###LIST_EMPTY### end-->